[Service]
ExecStart=/usr/bin/python /home/ebi/.local/bin/pump_guard.py -p PORT
User=USER
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
